textarea {
	width: 50%;
	height: 80px;
}
small {
	font-size: 0.7em;
}
ul {
	/*list-style-type: none;*/
}
.body {
	margin: 0 1em;
}

.bordered {
	padding: 0.5em;
	margin: 3px;
	border: 1px solid gray;
}

span.spanEdit {
  font-size: 0.8em;
  background-color: #f44336;
  color: white;
  margin: 2px 0;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
